<nav class="mainMenu">
    <ul class="mainMenu-list">
        <li class="mainMenu-item">
            <a class="mainMenu-link" href="/">
                Главная
            </a>
        </li>
        <li class="mainMenu-item">
            <a class="mainMenu-link" href="#">
                Проекты
            </a>
        </li>
        <li class="mainMenu-item">
            <a class="mainMenu-link" href="#">
                Услуги
            </a>
        </li>
        <li class="mainMenu-item">
            <a class="mainMenu-link" href="#">
                Клиенты
            </a>
        </li>
        <li class="mainMenu-item">
            <a class="mainMenu-link" href="about/">
                Компания
            </a>
        </li>
    </ul>
</nav>